<div class="col s9">
	<div class="row" data-ng-repeat="recommendedHired in recommendedsHiredPage.elements">
		<div data-ng-show="!recommendedHired.hasRecommendedFeedback">
			<div data-ng-bind="recommendedHired.recommended.name"></div>
			<input data-ng-model="feedback" placeholder="&iquest;Qu&eacute; te parecio el servicio?" type="text" class="validate">
			<input data-ng-model="stars" placeholder="Estrellas?" type="number" class="validate">
			<button class="waves-effect waves-light btn" data-ng-click="giveFeedback(recommendedHired, feedback, stars)">Responder</button>
		</div>
		
		<div data-ng-show="recommendedHired.hasRecommendedFeedback">
			<div style="font-weight: bold;" data-ng-bind="recommendedHired.recommended.name"></div>
			<div data-ng-bind="recommendedHired.recommendedFeedback"></div>
			<hr style="width: 100%;"/>
			<div data-ng-bind="recommendedHired.star"></div>
		</div>
	</div>
</div>