<form class="col s9 userProfileForm" data-ng-submit="updateUser()" name="updateUserForm">
	<div class="row">
		<div class="input-field col s6">
			<input id="first_name" required maxlength="100" type="text" class="validate" data-ng-model="user.name"> 
			<label for="first_name" data-ng-class="{active : user.name}">Nombre. Ej.: "Daniel - Pintor profesional"</label>
		</div>
		<div class="input-field col s6">
			<input id="last_name" required maxlength="60" type="text" class="validate" data-ng-model="user.surname">
			<label for="last_name" data-ng-class="{active : user.surname}">Telefono</label>
		</div>
		<div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Descripcion</label>
		</div>

	</div>
	<div class="row dataRow">
	
		<div class="input-field col s6">
			<input id="email" type="email" class="validate" data-ng-model="user.email"> 
			<label for="email" data-ng-class="">Email Recomendado</label> <!-- Por default estaria bueno que traiga el del perfil -->
		</div>
		<div class="input-field col s12">
			<button type="submit" class="btn waves-effect waves-light" data-ng-disabled="updateUserForm.$invalid">Actualizar datos</button>
		</div>
	</div>
</form>

