<form class="col s9">
	<div class="row">
		<div class="input-field col s6">
			<input id="first_name" type="text" class="validate"> 
			<label for="first_name">Nombre</label>
		</div>
		<div class="input-field col s6">
			<input id="last_name" type="text" class="validate"> 
			<label for="last_name">Apellido</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input id="email" type="email" class="validate"> 
			<label for="email">Email</label>
		</div>
		<div class="input-field col s6">
			<input id="phone" type="text" class="validate"> 
			<label for="email">Teléfono</label>
		</div>
	</div>
</form>