<form class="col s9" data-ng-submit="updateUser()" name="updateUserForm">
	<div class="row">
		<div class="input-field col s6">
			<input id="first_name" required maxlength="100" type="text" class="validate" data-ng-model="user.name"> 
			<label for="first_name" data-ng-class="{active : user.name}">Nombre</label>
		</div>
		<div class="input-field col s6">
			<input id="last_name" required maxlength="60" type="text" class="validate" data-ng-model="user.surname">
			<label for="last_name" data-ng-class="{active : user.surname}">Apellido</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input id="email" disabled type="email" class="validate" data-ng-model="user.email"> 
			<label for="email" data-ng-class="{active : user.email}">Email</label>
		</div>
		<div class="input-field col s6">
			<input id="username" disabled type="text" class="validate" data-ng-model="user.username"> 
			<label for="username" data-ng-class="{active : user.username}">Nombre de usuario</label>
		</div>
	</div>
	<button type="submit" class="btn waves-effect waves-light" data-ng-disabled="updateUserForm.$invalid">Actualizar datos</button>
</form>

<form class="col s9" data-ng-submit="changePassword()" name="changePasswordForm" style="float: right;">
	<div class="row">
		<div class="input-field col s4">
			<input id="currentPassword" type="password" required maxlength="50" data-ng-minlength="5" data-ng-model="passowordDto.oldPassword"> 
			<label for="currentPassword">Contrase&ntilde;a actual</label>
		</div>
		<div class="input-field col s4">
			<input id="newPassword" type="password" required maxlength="50" data-ng-minlength="5" data-ng-model="passowordDto.newPassword"> 
			<label for="newPassword">Nueva contrase&ntilde;a </label>
		</div>
		<div class="input-field col s4">
			<input id="repeatPassword" type="password" required maxlength="50" data-ng-minlength="5" data-ng-model="passowordDto.passwordRepeated"> 
			<label for="repeatPassword">Repetir nueva contrase&ntilde;a</label>
		</div>
	</div>
	<button class="btn waves-effect waves-light" type="submit" data-ng-disabled="changePasswordForm.$invalid">Cambiar contrase&ntilde;a</button>
</form>