<div class="col s9 row questionRow" data-ng-repeat="question in questionsPage.elements">
	<div class="col s10 pull-s2">
		<img width="25" data-ng-src="{{getQuestionUserAvatarPath(question.user)}}">
		<span class="questionName" data-ng-bind="question.user.fullName"></span><br>
		<span width="100" class="questionContent" style="float: left;" data-ng-bind="question.description"></span>
	</div>
	<div class="col s10 pull-s2 answer" data-ng-show="question.hasAnswer">
		<img width="25" data-ng-src="{{recommended.avatarPath}}">
		<span class="questionName" data-ng-bind="recommended.name"></span><br>
		<span width="100" class="questionContent" style="float: left;" data-ng-bind="question.answers[0].description"></span>
	</div>
	<div class="col s10 pull-s2 answer" data-ng-show="recommended.isOwner && !question.hasAnswer">
		<input data-ng-model="newAnswer" placeholder="¡Responde la consulta!" id="new_answer_{{question.id}}" type="text" class="validate">
		<button data-ng-click="addAnswer(newAnswer, question)">Responder</button>
	</div>
	<hr>
</div>