<div class="col s9" data-ng-repeat="question in questionsPage.elements">
	<div class="row questionRow">
		<div class="col s10 pull-s2">
	    	<img width="25" data-ng-src="{{getQuestionUserAvatarPath(question.userAvatarName)}}">
	    	<span class="questionName" data-ng-bind="question.fullName"></span><br>
	        <span width="100" class="questionContent" style="float: left;" data-ng-bind="question.description"></span>
		</div>
		<div class="col s10 pull-s2 answer" data-ng-show="question.hasAnswer">
	    	<span width="100" class="questionContent" style="float: left;" data-ng-bind="question.answers[0].description"></span>
	    </div>
	    <div class="col s10 pull-s2 answer" data-ng-show="!question.hasAnswer">
			<input data-ng-model="newAnswer" placeholder="&iexcl;Responde la consulta!" id="new_answer_{{question.id}}" type="text" class="validate">
			<label for="new_answer_{{question.id}}"></label>
			<button class="waves-effect waves-light btn" data-ng-click="addAnswer(newAnswer, question)">Responder</button>
		</div>
		<hr>
	</div>
</div>